.application-container {
    max-width: 700px;
    background-color: #fff;
    padding: 1.5em;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom: 200px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    box-sizing: border-box;
}

.application-container .application-container-title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    font-family: sans-serif;
    background-color: #730101;
    display: inline-block;	
    padding: 10px;
    color: white;
    top: -50px;
}

.application-container .application-container-title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
}

.application-content form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: auto;
    font-family: sans-serif;
    padding-bottom: 30px;
}

.user-details .info-details{
    padding-left: 2px;
}

form .input-box span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    padding-left: 15px;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: black;
}


form input[type="radio"] {
    display: none;
}

form .application-button-container {
    height: 45px;
    margin: 35px 0
}

form .application-button-container input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: black;
}

.cover-letter-box{
    display: flex;
}

.position-options {
    float: left;
    width: 100%;
    margin-top: 6px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.position-title {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.application-position:after {
    content: "";
    display: table;
    clear: both;
}

.application-position {
    font-size: 18px;
    font-weight: none;
    font-family: sans-serif;
}

#position{
    font-size: 18px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

@media(max-width: 992px) {
    .application-container {
        width: 350px;
    }

    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    form .applicant-gender-category {
        width: 100%;
    }

    .application-container .application-container-title {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .application-container .info-details {
        font-size: 100%;
    }

    .application-container .cover-letter-box{
        width: 100%;
    }
}