footer{
    max-width: 1920px;
    background:#730101;
    width: 100%;
    padding-top: 20px;
    color: #fff;
}

.Footer-socials{
    list-style: none;
    margin: 2rem 20% 0 0;
}

.Footer-socials li{
    margin: 0 10%;
    width: 20%;
}

.Footer-bottom{
    width: 98%;
    padding-bottom: 10px;
}

.Footer-bottom p{
    color: white;
    font-size: 14px;
    word-spacing: 2px;
}