.wrapper-header{
    max-width: 1700px;
    z-index: 3;
    background-color: #eaf1f5;
}
.wrapper-header table{
    width:100%;
}

.wrapper-header table tr{
    vertical-align: top;
}

.wrapper-sweet-solution-logo{
    width: 300px;
    padding: 20px 20px 5px 20px;
}

.wrapper-sweet-solution-logo img{
    width: 100%;
}

.wrapper-sweet-solution-information p {
    margin: 0px; 
    padding-top: 10px;
    padding-bottom: 20px;
}

.container-social-media ul{
    list-style-type: none;
}

.container-social-media ul li{
    float:left;
    padding: 0 10px;
    padding-top: 40px;
}

.social-icons{
    width:40px;
}

.social-icons img{
    width:100%;
}

.inquire-button{
    font-size: 1em;
}

.inquire-button a{
    text-decoration: none;
}

.inquire-button a p{
    padding:10px 50px;
    border: 5px solid #7b241c;
    color:#7b241c;
}

.sticky{
    position: sticky;
    top:0px;
}

.dropdown{
    position: relative;
    display:inline-block;
}

.dropdown-content{
    display:none;
    position:absolute;
    background-color: rgba(250, 250, 250,0.9);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index:1;
    margin-top: -50px;
    transform: translateX(-100%);
}

.dropdown:hover .dropdown-content{
    display:block;
}

.dropdown-content:hover{
    display:block;
}