body {
  font-family: 'Open Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color:#eaf1f5;
}

section{
  max-width: 1920px;
}

footer{
  max-width: 1920px;
  background:#730101;
  width: 100%;
  padding-top: 40px;
  color: #fff;
}

*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.centered{
    margin: 0px auto;
}

.wrapper-all{
    max-width: 1920px;
}

.grid{
  background-color:#ececec;
  height: auto; 
  display: grid; 
  gap: 1em; 
  margin: 1em; 
  padding: 1em;
}

p{
  margin: 1em;
}
