.wrapper-top-navigation ul{
    list-style-type: none;
}

.wrapper-top-navigation ul li{
    float:right;
    width: 60px;
    padding: 10px;
}

.wrapper-top-navigation ul li img{
    width:100%;
}

.Inquire-button{
    padding: 0px 20px;
}

