.top-navigation ul {
    list-style-type: none;
}

.top-navigation ul li{
    float:left;
    width:14%;
    text-align: center;
    padding: 10px 0px;
    font-weight: bold;
}

.top-navigation ul li a{
    text-decoration: none;
    color: black;
}

