.container-FeaturedCake{
    display: grid;
    grid-template-columns: 30% 70%;
}
.container-AboutUs{
    display: grid;
    grid-template-columns: 70% 30%;
}
.container-BestSellerSpecial{
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.wrapper-BestSeller{
    font-size: 30px;
    font-weight: bold;
}

.bestseller-container{
height: 750px;
width: 810px;
padding: 0px;
background-color: white;
align-items: left;
    
}
    
.bestseller-item-container{
padding: 5px;
    
}
    
.bestseller-image{
padding: 10px;
float: left;
width: 32%;
    
}
    
.bestseller-header{
padding: 0px;
font-weight: bold;
font-size: 30px;
text-align: left;
color: black;
    
}
    
.bestseller-description{
padding: 0px;
font-weight: none;
font-size: 20px;
text-align: left;
color: black;
    
}
    
.bestseller-price{
padding: 0px;
font-weight: bold;
font-size: 20px;
text-align: left;
color: gold;
    
}
    
.order-now-button-container{
    height: 50px;
    width: 320px;
    position: relative;
    left: 450px;
    top: -10px;
    background-color: #7b241c;
    box-shadow: 4px 6px ;
}
.order-now-button:active{
    text-decoration: none;
}
.order-now-button:link{
    text-decoration: none;
}

.order-now-button{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: white;
    font-weight: bold;
}
    
.red-line-design{
height: 10px;
width: 810px;
background-color: #7b241c;
    
}
    
.bestseller-container-container{
    
}