.BestSellerSpecial-container{
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding-left: 3%;
}

.BestSeller-wrapper {
    font-size: 30px;
    font-weight: bold;
    background-color: white;
    margin-bottom: 20%;
    margin-right: 10%;
    padding-bottom: 100px;
}

.BestSpecial-wrapper {
    margin-bottom: 20%;
    margin-right: 5%;
}

.BestSeller-header {
    font-size: 30px;
    font-weight: bold;
    background-color: #ECECEC;
}

.BestSpecial-header {
    font-weight: bold;
    background-color: #ECECEC;
}


.BestSeller-design-red-line {
    height: 10px;
    width: auto;
    background-color: #7b241c;
}

.BestSeller-container-item {
    padding: 5px;
}

.BestSeller-image {
    padding: 10px;
    float: left;
    width: 32%;
}

.BestSeller-info-header-menu {
    padding-top: 10px;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    color: black;

}

.BestSeller-info-description-menu {
    padding: 0px;
    font-weight: none;
    font-size: 16px;
    text-align: left;
    color: black;

}

.BestSeller-info-price {
    padding: 0px;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    color: gold;

}
.BestSeller-container-button-order-now{
    display: inline-block;
    position: relative;
    white-space:nowrap;
    width: 100%;
    text-align: right;
    padding-right: 250px;
}

.ordernow-button {
    background-color: #7b241c;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    position: absolute;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 5px;
    font-size: .8em;
}

.ordernow-button:active {
    text-decoration: none;
}

.ordernow-button:link {
    text-decoration: none;
}

.ordernow-button:hover {
    text-decoration: none;
    color: white;
}



