.BestSellerSpecial-container{
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding-left: 3%;
}

.BestSeller-wrapper {
    font-size: 30px;
    font-weight: bold;
    background-color: white;
    margin-bottom: 20%;
    margin-right: 10%;
}

.BestSpecial-wrapper {
    margin-bottom: 20%;
    margin-right: 5%;
}

.BestSeller-header {
    font-size: 30px;
    font-weight: bold;
    background-color: #ECECEC;
}

.BestSpecial-header {
    font-weight: bold;
    background-color: #ECECEC;
}


.BestSeller-design-red-line {
    height: 10px;
    width: auto;
    background-color: #7b241c;
}

.BestSeller-container-item {
    padding: 5px;
}

.BestSeller-image {
    padding: 10px;
    float: left;
    width: 32%;
}

.BestSeller-info-header-menu {
    padding-top: 10px;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    color: black;

}

.BestSeller-info-description-menu {
    padding: 0px;
    font-weight: none;
    font-size: 16px;
    text-align: left;
    color: black;

}

.BestSeller-info-price {
    padding: 0px;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    color: gold;

}

.BestSeller-container-button-order-now {
    height: 35px;
    width: 220px;
    position: relative;
    left: 330px;
    top: 20px;
    background-color: #7b241c;
    box-shadow: 4px 6px;
}

.BestSeller-button-order-now {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.BestSeller-button-order-now:active {
    text-decoration: none;
}

.BestSeller-button-order-now:link {
    text-decoration: none;
}



